.home-container {
    background-image: url('../../../images/homepage.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
}

.paragraph-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    width: 450px;
    opacity: 70%;
}